---
section-name: html
language: html
---

{% include html-code.html %}

{% for section in page.sections %}
  {% if section[0] == page.section-name %}
    {% for subsection in section[1] %}
      <div class="sub-section">
        <h2 class="sub-section-title">{{ subsection }}</h2>
        {% case subsection %}
          {% when 'naming' %}
            {% highlight html %}{{ naming }}{% endhighlight %}
          {% when 'boilerplate' %}
            <p>HTML Boilerplate with facebook meta-tags, twitter meta-tags, Bootstrapp (CSS CDN, JS and JS dependencies jQuery & Popper.js) and fontawesome</p>
            {% highlight html %}{{ boilerplate }}{% endhighlight %}
          {% when 'tables' %}
            {% highlight html %}{{ tables }}{% endhighlight %}
          {% when 'forms' %}
            <p>A form is defined by a <samp>{'<form>'}</samp> tag. Inside you define :</p>
            <ul>
              <li>An <samp>action</samp> : where to send the form data when submited</li>
              <li>A <samp>method</samp> : the HTTP request type (GET, POST, PUT, PATCH, DELETE)</li>
            </ul>
            {% highlight html %}{{ form }}{% endhighlight %}
            <p><samp>{'<input>'}</samp> tags allows to create fields where visitors can type information. Input tags must have different attributes:</p>
            <ul>
              <li><samp>name</samp> : that is how you will identify it when the form is send</li>
              <li><samp>value</samp> : the value of the field & the placeholder value before the user type it (will be paired with the name).</li>
              <li><samp>type</samp> : determine how it will render :
                <ul>
                  <li><samp>text</samp> : normal text field</li>
                  <li><samp>password</samp> : field where what you type is hidden</li>
                  <li><samp>number</samp> : restrict to number. You can add attributes:</li>
                  <ul>
                    <li><samp>step=1</samp> : will create arrows inside the input and allows the user to increase/decrease numbers 1 by 1</li>
                  </ul>
                </ul>
              </li>
              <li><samp>range</samp> : will create a slider. You can add attributes:
                <ul>
                  <li><samp>min</samp></li>
                  <li><samp>max</samp></li>
                  <li><samp>step</samp></li>
                </ul>
              </li>
              <li><samp>checkbox</samp> don't forget to put a value! (it will be invisible but this is what will be send to the form). And then to associate it to a label (so the user knows what this checkbox correspond to)</li>
              <li><samp>radio</samp> : to group radio together they must have the same name (and thus you can only select one)</li>
              <li><samp>text</samp> and <samp>list=id</samp> = will pair the input to a datalist with the same id</li>
              <li><samp>submit</samp> : the "value" will be the displayed text. When clicked, it will trigger the form action</li>
            </ul>
            <p><samp>label</samp> tags are paired with input and serve as their "display name". You pair label with an input thanks to the attribute <samp>for</samp>:</p>
            <ul>
              <li>The input must have an <samp>id</samp>, and the label must have the same <samp>for</samp></li>
              <li>Important when using checkbox or radio button. Because when you click on the label it will check the box</li>
            </ul>
            {% highlight html %}{{ input }}{% endhighlight %}
            <p><samp>{'<select>'}</samp> tag allows you to create dropdown lists. Inside the select tags you need <samp>{'<options>'}</samp> tags each with a value with your different options:</p>
            <ul>
              <li>The <samp>value</samp> of <samp>{'<option>'}</samp> is the text that will be send to the form</li>
              <li>The text between the opening and closing <samp>{'<options>'}</samp> tag is the displayed text</li>
            </ul>
            {% highlight html %}{{ select }}{% endhighlight %}
            <p><samp>{'<datalist>'}</samp> tag also create a dropdown but inside a text field, so that users can type into it to easily find options. Inside the datalist you put <samp>{'<options>'}</samp> tags. The <samp>{'<input>'}</samp> tag where the <samp>{'<datalist>'}</samp> is must have a <samp>list</samp> attribute with the value of the datalist id</p>
            {% highlight html %}{{ datalist }}{% endhighlight %}
            <p><samp>{'<textarea>'}</samp> tags are used to create a bigger text field. If you want a default text you need to include it between the opening and closing textarea tags. This field can take arguments:</p>
            <ul>
              <li><samp>rows</samp> : determine the width of the field</li>
              <li><samp>cols</samp> :  determine the height</li>
            </ul>
          {% else %}
            nada
        {% endcase %}
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}


