.highlight {
  margin: 0 0 30px 0;
  pre {
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    code {
      font-size: 15px;
    }
  }
}

samp {
  font-size: 15px;
  color: #D75139;
  font-weight: 600;
  font-style: italic;
  white-space: pre-line;
}
