---
section-name: javascript
permalink: /javascript/
---

{% for section in site.data.sections %}
  {% if section.title == page.section-name %}
    <h1>{{ section.title }}</h1>
    {% for subsection in section.subsections %}
      <div class="sub-section" id={{ subsection }}>
        <h2 class="sub-section-title">{{ subsection | replace: '-', ' ' }}</h2>
        {% include content/{{ page.section-name }}_content.html subsection=subsection %}
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}



