---
---

@import 'fonts';

@import 'code_bloc';
@import 'navbar';
@import 'sections';

@import 'highlighter';

::selection {
  background-color: #9b9b9b;
  color: white;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $body-font;
  color: #212529;
  background-color: #F8F8F8;
}

.app {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 30px;
  max-width: 1116px;
  margin-left: auto;
  margin-right: auto;
}
