{% include highlighted_code/ruby_code.html %}
{% assign lang='ruby' %}
{% case subsection %}
  {% when 'run-ruby-code' %}
    <div>
      <p><b>Install Ruby:</b> better to install it with <a href="https://github.com/rbenv/rbenv" target="_blank">rbenv</a> that lets you chose a specific Ruby version to use in different applications or environments:</p>
      <ul>
        <li><samp>rbenv versions</samp> : lists all Ruby versions known to rbenv, and shows an asterisk next to the currently active version</li>
        <li><samp>rbenv local</samp> : gives you the Ruby version usued in the current application</li>
        <li><samp>rbenv local 2.6.6</samp> : set Ruby version 2.6.6 to be used in the current application</li>
        <li><samp>rbenv global</samp> : gives you the Ruby version used globally in your computer</li>
        <li><samp>rbenv global 2.6.6</samp> : set Ruby version 2.6.6 to be used globally in your computer</li>
      </ul>
      <p><b>In a terminal:</b> IRB (stand for "interactive Ruby"). Installed by default with Ruby. Just launch your terminal and type <samp>irb</samp>, and you can type and execute ruby code without creating a file. IRB is a "Read-Eval-Print-Loop" (REPL) tool, it gives you access to all Ruby's built-in features and all the gems you've installed. You can require other gems, or modules as well. Run <samp>exit</samp> to quit irb.</p>
      <p><b>With a Ruby file:</b> create a ruby file (ex: file_name.rb) and in the terminal execute <samp>ruby file_name.rb</samp></p>
    </div>
  {% when 'data-types' %}
    <div>
      <p><b>String:</b> defined between single quotes: <samp>'my string'</samp> or double quotes: <samp>"my other string"</samp>. Double quotes are mandatory for string interpolation: <samp>"My name is #{first_name}"</samp></p>
      <p><b>Integer:</b> <samp>23</samp></p>
      <p><b>Float:</b> <samp>3.14</samp></p>
      <p><b>Array:</b> a list of elements: <samp>['a', 'b', 'c']</samp></p>
      <p><b>Bolean:</b> <samp>true</samp> or <samp>false</samp>. In Ruby everything is "truthy" except <samp>false</samp> and <samp>nil</samp></p>
      <p><b>Range:</b> interval between 2 datas:</p>
      <ul>
        <li><samp>(1..10)</samp> is a range between 1 and 10 (10 is included)</li>
        <li><samp>(1...10)</samp> is a range between 1 and 9 (10 is excluded)</li>
        <li>You can do letter ranges as well: <samp>('a'..'e')</samp> is a, b, c, d, e (or symbol ranges as well)</li>
      </ul>
      <p><b>Symbols:</b> defined using a <samp>:</samp> and the name of the symbol: <samp>:my_symbol</samp>. It is a "string cousin". Mostly used for hash keys. They are like "named strings" used to represent something (whereas in general a string is a data itself). You can considere it as "the thing named" (<samp>:id</samp> is "the thing named id")</p>
      <p><u>Simplified example:</u> You would use a string to write a country: <samp>'Panama'</samp> but you would use a symbol to define the concepte of "country" <samp>:country</samp>.</p>
      <p><b>Hash:</b> are like objects in JS. Used to store key-value pairs:</p>
      <ul>
        <li><samp>grades = { 'Pierre' => 10, 'Paul' => 14, 'Jack' => 9 }</samp></li>
        <li>We usually use symbols for hash keys: <samp>grades = { :pierre => 10, :paul => 14, :jack' => 9 }</samp>, which can also be written: <samp>grades = { pierre: 10, paul: 14, jack: 9 }</samp></li>
      </ul>
      <p><b>Nil:</b> <samp>nil</samp> means "nothing". Equivalent of <samp>null</samp> in JS.</p>
      <p><b>In Ruby everything is Object:</b> meaning that all those data types are actually objects, that are instances of classes. For example <samp>"my string"</samp> is an instance of the class <samp>String</samp> :</p>
      <ul>
        <li>You can get the class of an element with the method <samp>class</samp>. For example <samp>23.class</samp> will outputs <samp>Integer</samp>. And <samp>Integer.class</samp> will outputs <samp>Class</samp></li>
        <li>You can get the parent of a class with the method <samp>superclass</samp>. For example <samp>"renodor".class.superclass</samp> will outputs <samp>Object</samp></li>
        <li>Boolean is actually not a class, <samp>true</samp> and <samp>false</samp> both have their own class, respectively <samp>TrueClass</samp> and <samp>FalseClass</samp></li>
        <li><samp>nil</samp> class is <samp>NilClass</samp></li>
      </ul>
      <p>Eventually all instances of classes inherit from the parent class <samp>Object</samp>. And all classes inherit from the class <samp>Class</samp> that inherit itself from the class <samp>Object</samp> as well. (And at the end, the parent class of all classes in Ruby is the class <samp>BasicObject</samp>)</p>
      <p><b>Ruby is a strongly typed language:</b> meaning that you can't compare/compute different data types (ie: objects that are instances of different classes). So you often have to convert a data type into another one, and Ruby has built-in methods for that:</p>
      <ul>
        <li><samp>to_s</samp> : transform an object into a string: <samp>123.to_s = "123"</samp></li>
        <li><samp>to_i</samp> : transform an object into a integer: <samp>"123".to_i = 123</samp></li>
        <li><samp>to_f</samp> : transform an object into a float: <samp>23.to_f = 23.0</samp></li>
        <li><samp>to_a</samp> : transform an object into an array: <samp>(1..5).to_a = [1, 2, 3, 4, 5]</samp></li>
        <li><samp>to_sym</samp> : transform an object into a symbol: <samp>'renodor'.to_sym = :renodor</samp></li>
        <li><samp>to_h</samp> : transform an object into a hash: <samp>[['name', 'Gaston'], ['username', 'LaGaffe']].to_h = {"name"=>"Gaston", "username"=>"LaGaffe"}</samp></li>
      </ul>
    </div>
  {% when 'variables' %}
    <div>
      <p>In Ruby to assign a value to a variable you just use the equal sign: <samp>name = 'Tintin'</samp> >> we assigned the value <samp>'Tintin'</samp> to the variable <samp>name</samp>.</p>
      <p><b>Naming convention:</b> in Ruby variables are snake_case: <samp>my_variable</samp></p>
      <p>Here we actually defined a local variable (accesible in the local scope). Variable types are defined by its first letter:</p>
      <ul>
        <li>Local variables start with a lowercase letter or an underscore: <samp>my_local_variable</samp></li>
        <li>Global variables start with $ : <samp>$my_global_variable</samp></li>
        <li>Instance variables start with @ : <samp>@my_instance_variable</samp></li>
        <li>Class variables start with @@ : <samp>@@my_class_variable</samp></li>
      </ul>
      <p><b>Constant:</b> a Ruby constant is like a variable, except that its value is supposed to remain constant for the duration of the program (but Ruby does not actually enforce it). Constants must start with a capital letter, and by convention most constants are written in all uppercase: <samp>MY_CONSTANT</samp>. If you really want your constant to actually remains constant, you can use the method <samp>freeze</samp> that will prevent any object to be modified:</p>
      {% include bloc_code.html language=lang content=freezeConstant %}
      <p><b>Abbreviated assignments:</b></p>
      <ul>
        <li><samp>a += 1</samp> is the same than <samp>a = a + 1</samp></li>
        <li><samp>a -= 1</samp> is the same than <samp>a = a - 1</samp></li>
        <li><samp>a *= 1</samp> is the same than <samp>a = a * 1</samp></li>
        <li><samp>a /= 1</samp> is the same than <samp>a = a / 1</samp></li>
      </ul>
      <p><b>Multiple assignments:</b></p>
      <ul>
        <li>You can assign multiple variables at the same time: <samp>a, b = 1, 2</samp> >> <samp>1</samp> will be assigned to <samp>a</samp> and <samp>2</samp> will be assigned to <samp>b</samp> (but it is not recommanded)</li>
        <li>You can assign the same value to multiple variables at the same time: <samp>a, b = 1</samp> >> <samp>1</samp> will be assigned to <samp>a</samp> and <samp>b</samp></li>
      </ul>
    </div>
  {% when 'methods' %}
    <div>
      <p>Ruby simple method definition and call with a parameter:</p>
      {% include bloc_code.html language=lang content=method %}
      <p><b>Return:</b></p>
      <ul>
        <li>By default <b>in Ruby a method returns its last line</b> (its last expression)</li>
        <li>Additionally, the <samp>return</samp> kw can be used to make it explicit what value will be returned</li>
        <li>But the <samp>return</samp> kw is also used to stop the execution of a method. Indeed a <b>Ruby method will stop and return has soon as it gets to the <samp>return</samp> kw</b></li>
      </ul>
      <p><b>Naming convention:</b></p>
      <ul>
        <li>In Ruby methods are snake_case: <samp>my_method</samp></li>
        <li>By convention, methods ending with a ? return a boolean (<samp>true</samp> or <samp>false</samp>). <u>Ex:</u> <samp>2.even?</samp> will return <samp>true</samp> because 2 is an even number</li>
        <li>By convention, methods ending with a ! are considered "dangerous". Meaning that they permanently modify the object it is called on. <u>Ex:</u></li>
      </ul>
      {% include bloc_code.html language=lang content=dangerousMethods %}
      <p><b>Parameters:</b></p>
      <p>Parentheses around parameters are optional (you see it a lot in Rails):</p>
      {% include bloc_code.html language=lang content=methodWithoutParenthesis %}
      <p>Multiple arguments are separated by a comma:</p>
      {% include bloc_code.html language=lang content=methodWithMultipleParameters %}
      <p>Parameters may have default values, but parameters with default values must be grouped together:</p>
      {% include bloc_code.html language=lang content=methodWithDefaultParameters %}
    </div>
  {% when 'conditional-statements' %}
    <div>
      <p>In Ruby <b>everything is truthy except <samp>false</samp> and <samp>nil</samp></b></p>
      <p><b>If statements:</b> execute the code if the condition is true</p>
      {% include bloc_code.html language=lang content=ifConditions %}
      <p><b>Unless statements:</b> execute the code if the condition is false. Normally (in other programming languages), you would use the reverse of a condition to achieve that: <samp>if !(condition)</samp>. But in Ruby you can use the <samp>unless</samp> keyword:</p>
      {% include bloc_code.html language=lang content=UnlessConditions %}
      <p><b>Case statement:</b> you define an expression to compare, and then you treat different case scenarios. <u>Ex:</u></p>
      {% include bloc_code.html language=lang content=caseStatement %}
      <p><b>Ternary:</b> a shorter way to write simple conditionals:</p>
      {% include bloc_code.html language=lang content=ternary %}
      <p><b>&&</b> means "and":</p>
      {% include bloc_code.html language=lang content=andStatement %}
      <p><b>||</b> means "or":</p>
      {% include bloc_code.html language=lang content=orStatement %}
      <p>So basically <samp>true && false</samp> is <samp>false</samp> whereas <samp>true || false</samp> is <samp>true</samp>:</p>
      {% include bloc_code.html language=lang content=truthTable %}
    </div>
  {% when 'loops' %}
    <div>
      <p><b>Finished loop:</b></p>
      {% include bloc_code.html language=lang content=finishedLoop %}
      <p><b>While loop:</b></p>
      {% include bloc_code.html language=lang content=whileLoop %}
      <p><b>Until loop:</b></p>
      {% include bloc_code.html language=lang content=untilLoop %}
      <p><b>For loop:</b></p>
      {% include bloc_code.html language=lang content=forLoop %}
      <p>The for loop is not really used in Ruby, we use much more the <samp>each</samp> function to iterate over an array:</p>
      {% include bloc_code.html language=lang content=eachFunction %}
      <p><b>Exit early of a loop:</b> you can exit early of a Ruby loop in three different ways:</p>
      <ul>
        <li><samp>next</samp> keyword: will skip the current iteration and directly go to the next one</li>
        <li><samp>break</samp> keyword: will break the loop completely and exit early from it</li>
        <li><samp>return</samp> keyword: as seen in the <a href="#methods">method</a> section, the <samp>return</samp> keyword will stop the execution of a method. So it can be used to exit early from a loop and return a specific value</li>
      </ul>
      <u>Ex:</u>
      {% include bloc_code.html language=lang content=exitLoop %}
    </div>
  {% when 'arrays' %}
    <div>
      <p>Arrays are ordered, indexed collections of objects. In Ruby arrays can contain different types of objects: a single array can contains integers, strings, other arrays, objects etc...</p>
      <p><b>Create arrays:</b></p>
      <ul>
        <li>Calling the literal constructor: <samp>[]</samp>. Ex: <samp>arr = [1, 'hello', 2.5]</samp></li>
        <li>Calling <samp>new</samp> on the <samp>Array</samp> class: <samp>Array.new</samp>. If you add one argument it will define the initial size of the array: <samp>Array.new(3)</samp>, will create: <samp>[nil, nil, nil]</samp>. If you add a second argument it will define the default value of the array elements: <samp>Array.new(3, true)</samp> will create <samp>[true, true, true]</samp></li>
        <li>(So to create an empty array an assign it to a variable, just do: <samp>arr = []</samp> or <samp>arr = Array.new</samp>)</li>
        <li>You can also pass a block to the <samp>Array.new</samp> method to create more complexe arrays. Ex: <samp>Array.new(4) { |i| i.to_s }</samp> will create: <samp>['0', '1', '2', '3']</samp></li>
        <li>Ruby has a shortcut to create an array of strings: <samp>%w(pierre paul jacques)</samp> is the same as <samp>['pierre', 'paul', 'jacques']</samp> (If you have string interpolations you need to use <samp>%W</samp> (capital W), because it will create a string array with double quotes.</li>
      </ul>
      <p><b>Read arrays (thanks to index):</b></p>
      <ul>
        <li>Ruby arrays start at index O</li>
        <li>The last element has the index -1. The second to last element has the index -2. And the element before the index -3 etc...</li>
        <li><samp>.first</samp> method will return the first array element</li>
        <li><samp>.last</samp> method will return the last array element</li>
        <li><samp>arr[n]</samp> will return elements at index n of array <samp>arr</samp>. Ex: if <samp>arr = [1, 2, 3]</samp>, <samp>arr[1]</samp> will return <samp>2</samp></li>
        <li>If you call <samp>arr[n]</samp> on an element that doesn't exists, it returns <samp>nil</samp>. Ex: <samp>arr[10]</samp>, returns <samp>nil</samp></li>
      </ul>
      <p><b>Update arrays:</b></p>
      <ul>
        <li><samp>arr << 'yeah'</samp> will add <samp>'yeah'</samp> at the end of array <samp>arr</samp></li>
        <li><samp>.push(x)</samp> method does exactly the same: <samp>arr.push('yeah')</samp> will add <samp>'yeah'</samp> at the end of array <samp>arr</samp>. You can push several elements at the same time: <samp>.push(x, y, z)</samp></li>
        <li><samp>.unshift(x)</samp> method will add element x at the beginning of the array (pushing other elements on index further). You can unshift several elements at the same time: <samp>.unshift(x, y, z)</samp></li>
        <li><samp>.insert(n, 'yeah')</samp> will insert 'yeah' at index n (pushing other elements one index further). Ex: if <samp>arr = [1, 2, 3]</samp> and you do <samp>arr.insert(2, 'yeah')</samp> now <samp>arr</samp> is <samp>[1, 2, 'yeah', 3]</samp></li>
        <li><samp>arr[n] = 'yeah'</samp> will replace element at index n by 'yeah'. Ex: if you do <samp>arr[2] = 'yeah'</samp>, now <samp>arr</samp> is <samp>[1, 2, 'yeah']</samp></li>
        <li>You can call the two previous methods on indexes that doesn't exists. It will create nil elements to flll the gaps. Ex: <samp>arr.insert(10, 'hello')</samp>, now <samp>arr</samp> is <samp>[1, 2, 3, nil, nil, nil, nil, nil, nil, nil, "hello"]</samp></li>
        <li>You can also insert several elements at the same time: Ex: if <samp>arr = [1, 2, 3]</samp> and you do <samp>arr.insert(1, 'a', 'b', 'c')</samp> now <samp>arr</samp> is <samp>[1, "a", "b", "c", 2, 3]</samp></li>
      </ul>
      <p><b>Delete array elements:</b></p>
      <ul>
        <li><samp>arr.delete(x)</samp> will delete x from array. If there are several elements corresponding it will delete them all.</li>
        <li><samp>arr.delete_at(n)</samp> will delete element at index n.</li>
        <li><samp>arr.clear</samp> will delete all elements of the array</li>
        <li><samp>arr.compact</samp> will return a copy of the array with all <samp>nil</samp> element removed</li>
      </ul>
      <p><b>Arrays and strings</b></p>
      <p><samp>.join</samp> method will join all elements of an array and transform it into a string. You can give it a string as an argument that will serve as a separator between elements. <u>Ex:</u></p>
      {% include bloc_code.html language=lang content=join %}
      <p><samp>.split</samp> will split a string into an array. By default it looks for spaces or comas to separate the string into words. But you can add add an argument to specify how to split it. <samp>.split('')</samp> will split each letter of a word. <u>Ex:</u></p>
      {% include bloc_code.html language=lang content=split %}
      <p><b>Counting array elements:</b></p>
      <ul>
        <li><samp>arr.length</samp> and <samp>arr.size</samp> are two similar methods that return the number of element of <samp>arr</samp></li>
        <li><samp>arr.count</samp> will also return the number of elements, but can take an argument or a block. If an argument or a block is given, it will count the number of elements that are equal to the argument or the block. <u>Ex:</u></li>
      </ul>
      {% include bloc_code.html language=lang content=count %}
    </div>
  {% when 'hashes' %}
    <div>
      <p>A hash is a collection of key/value pairs. Unlike arrays, hashes don't have index and are not ordered. You retrieve the values thanks to their keys. (They are like Javascript objects).</p>
      <p><b>Create hashes:</b></p>
      <ul>
        <li>Using its implicit form: <samp>my_hash = { 'country' => 'Panama', 'population' => 4170607 }</samp></li>
        <li>Calling the method <samp>new</samp> on the <samp>Hash</samp> class: <samp>Hash.new</samp></li>
        <li>By default if you try to access a key that does not exist, it will return <samp>nil</samp>. But you can pass an argument to the <samp>new</samp> method to overwrite this default value. Ex: <samp>my_hash = Hash.new(0)</samp>. Now if you call <samp>my_hash['anything']</samp> (<samp>'anything'</samp> is a key that doesn't exists on the hash), it will return <samp>0</samp>. You can also define this default value with the <samp>default</samp> method: <samp>my_hash.default = O</samp></li>
        <li>You can store any data type on a hash: string, numbers, arrays, other hashes etc...</li>
      </ul>
      <u>Ex:</u>
      {% include bloc_code.html language=lang content=hash %}
      <p><b>Read hashes:</b></p>
      <ul>
        <li><samp>my_hash[key]</samp> will return the <samp>value</samp> of this key. Ex: <samp>my_hash['country']</samp> will return <samp>panama</samp></li>
        <li>If you call a key that does not exists, it will return <samp>nil</samp> (or the value default value you set when you created the hash)</li>
      </ul>
      <p><b>Update hashes:</b></p>
      <ul>
        <li>Keys of an hash must be uniques. So to update the value of an existing key, you just reassign it: <samp>my_hash[key] = 'new value'</samp></li>
        <li>To add new values to a hash, just bind a value to a new key</li>
      </ul>
      <p><b>Delete hash values</b></p>
      <ul>
        <li><samp>my_hash.delete(key)</samp> will delete this key (and so the value as well)</li>
        <li>You can't really delete a value, but you can set it to <samp>nil</samp>: <samp>my_hash[key] = nil</samp></li>
        <li><samp>my_hash.clear</samp> will delete all key/value pairs of an hash</li>
        <li><samp>my_hash.compact</samp> will return a copy of the hash removing all key/values paires for which the key is <samp>nil</samp></li>
      </ul>
      <p><b>Get hash keys and values:</b></p>
      <ul>
        <li><samp>my_hash.keys</samp> return an array with all the keys of <samp>my_hash</samp></li>
        <li><samp>my_hash.values</samp> return an array with all the values of <samp>my_hash</samp></li>
      </ul>
      <p><b>Hash and symbols:</b> we usually use symbols for hash keys, which allows to shorten the hash synthax:</p>
      {% include bloc_code.html language=lang content=hash_with_symbols %}
    </div>
  {% when 'iterators' %}
    <div>
      <p>Iterators are methods that allows you to iterate (loop) easily on objects that contain several elements. You can iterate over arrays, hashes, or ranges for example. In Ruby, objects that can be iterate over belong to the <a href="https://ruby-doc.org/core-2.6.5/Enumerable.html" target="_blank">Enumerable</a> module.</p>
      <p><b>Each:</b> will iterate over each elements of an enumerable and execute the block code to it. It will NOT modify the original enumerable, it will just apply the code to each elements.</p>
      {% include bloc_code.html language=lang content=each %}
      <p><b>Each with index:</b> is the same as each but with a second argument that represents the index of the array:</p>
      {% include bloc_code.html language=lang content=each_with_index %}
      <p>If you loop over an hash, you need to provide 2 arguments to the <samp>each</samp> method</p>
      <ul>
        <li>The first one represents the hash keys</li>
        <li>The second one represents the hash values</li>
      </ul>
      {% include bloc_code.html language=lang content=each_hash %}
      <p>Hashes doesn't have <samp>each_with_index</samp>, because they doesn't have index, but have other methods like <samp>each_key</samp> or <samp>each_value</samp></p>
      <p><b>Map:</b> it will also apply the block code to each elements of an array, but it will create a new array and returns it. So if you assign the map method to a new variable, this new variable will contains the new array. <u>Ex:</u></p>
      {% include bloc_code.html language=lang content=map %}
      <p>(You can also use <samp>.map_with_index</samp>)</p>
      <p>Hashes doesn't have a <samp>map</samp> method</p>
      <p><b>Select:</b> will return a new array containing all elements that responds to the condition of the block. <u>Ex:</u></p>
      {% include bloc_code.html language=lang content=select %}
      <p><samp>select</samp> works the same way with hashes but you have to pass 2 arguments to it, representing respectively the hash keys and values</p>
      <p><b>Reject:</b> will return a new array containing all elements that does not responds to the condition of the block. <u>Ex:</u></p>
      {% include bloc_code.html language=lang content=reject %}
      <p><samp>reject</samp> works the same way with hashes but you have to pass 2 arguments to it, representing respectively the hash keys and values</p>
    </div>
  {% when 'block' %}
    <div>
      <p>In Ruby, a block is a piece of code. It is a way of grouping several code statements together, you can think of it as an anonymous method. There is two different way to write a ruby block:</p>
      <p><b>One line synthax:</b></p>
      {% include bloc_code.html language=lang content=block_one_line %}
      <p><b>Multi-line synthax:</b></p>
      {% include bloc_code.html language=lang content=block_multi_line %}
      <p>A multi-line block works as a method: it returns the last statement executed</p>
      <p><b>Yield:</b> is a Ruby keyword that will <b>execute</b> a block. It makes a bridge between a method and a block. So <samp>yield</samp> allows to execute more code (a block), than a simple argument. When you have a <samp>yield</samp> in a method definition, and you call this method with a block it will:<p>
      <ol>
        <li>call the method, and execute it until the <samp>yield</samp> kw</li>
        <li>when the <samp>yield</samp> kw is found, it will execute the block passed to the method calling</li>
        <li>then it will finish the method execution normally</li>
      </ol>
      <u>Ex:</u>
      {% include bloc_code.html language=lang content=yield %} 
    </div>
  {% when 'regex' %}
    <div>
      <p>Regular Expressions are used to match pattern against a string. It can be used for example to validate user data submited by a form, or to extract specific data from a text etc...</p>
      <p><b>Create regex:</b> in Ruby we usually create regex using <samp>/.../</samp>. But you can also use <samp>%r{...}</samp> or call <samp>new</samp> on <samp>Regexp</samp> class</p>
      <p><b>How does regex work:</b> check <a href="https://rubular.com/" target="_blank">Rubular</a></p>
      <ul>
        <li>
          <b>Quantifiers:</b> are applied to the previous character, and helps identify how many of this character we are expecting:
          <ul>
            <li><samp>/x?/</samp> means "0 or 1 x"</li>
            <li><samp>/x*/</samp> means "0 or more x"</li>
            <li><samp>/x+/</samp> means "1 or more x"</li>
            <li><samp>/x{3}/</samp> means "3 x"</li>
            <li><samp>/x{3,}/</samp> means "3 or more x"</li>
            <li><samp>/x{3,6}/</samp> means "between 3 and 6 x"</li>
          </ul>
        </li>
        <li><b>Group:</b> <samp>/(abc)/</samp> will group those 3 characters together</li>
        <li><b>Or:</b> <samp>/a|b/</samp> means a or b</li>
        <li>
          <b>Intervals:</b>
          <ul>
            <li><samp>/./</samp> means "any single character"</li>
            <li><samp>/[aB9]/</samp> means "a or B or 9" (whereas <samp>ab</samp> just means "a followed by b")</li>
            <li><samp>/[0-9]/</samp> means "any number between 0 and 9"</li>
            <li><samp>/[a-r]/</samp> means "any letter between a and r</li>
            <li><samp>/[a-zA-Z]/</samp> means "any letter between a and z or A and Z</li>
            <li><samp>/[^abc]/</samp> means "any letter EXCEPT a, b or c" (need to be between [], otherwise it means something else)</li>
          </ul>
        </li>
        <li><b>Special characters:</b> to match a character already has a specific meaning in regex (ex: <samp>+</samp>), you need to put a <samp>\</samp> before it. ex: <samp>/1\+1/</samp></li>
        <li>
          <b>Shortcuts:</b>
          <ul>
            <li><samp>/\d/</samp> means "any digits" (<samp>[0-9]</samp>)</li>
            <li><samp>/\D/</samp> means "any non digit (<samp>[^0-9]</samp>)</li>
            <li><samp>/\w/</samp> means "any word character" (letter, number or underscore: <samp>[a-zA-Z0-9_]</samp>)</li>
            <li><samp>/\w/</samp> means "any non word character" (<samp>[^a-zA-Z0-9_]</samp></li>
            <li><samp>/\s/</samp> means "any whitespace character" (spaces, tab, line break etc...)</li>
            <li>Ruby also suppports some bracket expressions, like <samp>/[[:upper:]]/</samp> which means "any uppercase character" (check <a href="https://ruby-doc.org/" target="_blank">ruby doc</a> for more) </li>
          </ul>
        </li>
        <li>
          <b>Anchors:</b>
          <ul>
            <li><samp>\A</samp> means that my regex starts <b>after</b> it. Ex: 'renodor' will match <samp>/\Arenodor/</samp> but not <samp>/\Aenodor/</samp> (but it will match <samp>/enodor/</samp>)</li>
            <li><samp>\z</samp> means that my regex ends <b>before</b> it. Ex: 'renodor' will match <samp>/renodor\z/</samp> but not <samp>/renodo\z/</samp> (but it will match <samp>/renodo/</samp>)</li>
            <li><samp>^</samp> means that my line starts after it, but not necessarily my regex. It is like a lighter version of <samp>\A</samp>: I can start a regex, break line, and then call <samp>^</samp> on the beginning of my second line, and it will match (whereas <samp>\A</samp> won't because it is not the beginning of my regex)</li>
            <li><samp>$</samp> means that my line ends before it, but not necessarily my regex. It is like a lighter version of <samp>\z</samp></li>
            <li><samp>\b</samp> means a word bondary (beginning, or ending of a word). Ex: 'renodor' will match <samp>/\brenodor\b/</samp> but not <samp>renodor123</samp> (but it will match /renodor/)<samp>/</samp></li>
          </ul>
        </li>
        <li>
          <b>Modifiers:</b> are placed right after the regex, ex: <samp>/renodor/i</samp>
          <ul>
            <li><samp>i</samp> make the regex case insensitive</li>
          </ul>
        </li>
      </ul>
    </div>
  {% else %}
    nada
{% endcase %}