{% capture freezeConstant %}
# If we freeze an Array:
NUMBERS = [1, 2, 3, 4].freeze

# And then try to add a new value to this Array
NUMBERS << 5

# We will outputs: FrozenError: can't modify frozen Array
{% endcapture %}

{% capture method %}
def add_five(number)
  number + 5
end
{% endcapture %}

{% capture dangerousMethods %}
username = 'renodor'
username.capitalize # outputs 'Renodor', but username's value is still 'renodor':
puts username # outputs 'renodor'

# whereas:
username.capitalize! # outputs 'Renodor', and username's value is now 'Renodor':
puts username # outputs 'Renodor'
{% endcapture %}

{% capture methodWithoutParenthesis %}
def add_five number
  number + 5
end
{% endcapture %}

{% capture methodWithMultipleParameters %}
def add_values(a, b)
  a + b
end
{% endcapture %}

{% capture methodWithDefaultParameters %}
def add_values(a = 1, b = 2, c)
  a + b + c
end
{% endcapture %}

{% capture ifConditions %}
if condition
  # code to execute
end

if condition
  # code to execute
else
  # code to execute
end

if condition
  # code to execute
elsif other_condition
  # code to execute
else
  # code to execute
end

# Simpler form for one line statements:
code_to_execute if condition
{% endcapture %}

{% capture UnlessConditions %}
unless condition
 # code to execute
end

# Simpler form for one line statements:
code_to_execute unless condition
# (This is the same as: code_to_execute if !condition)
{% endcapture %}

{% capture caseStatement %}
age = 50
case age
when 0
  p "you're not born yet little man"
when 10
  p "time to have fun"
when 18
  p "time to have more fun"
when 30
  p "time to have fun again"
when 50
  p "yep, still fun"
when 100
  p "probably a lot of fun too"
else
  p "it's not worth it"
end
{% endcapture %}

{% capture ternary %}
condition ? 'I will be executed if its true' : 'I will be executed if its false'
{% endcapture %}

{% capture andStatement %}
if condition && other_condition
  # will be executed if BOTH conditions are true
end
{% endcapture %}

{% capture orStatement %}
if condition || other_condition
  # will be executed if AT LEAST one of the two conditions is true
end
{% endcapture %}

{% capture truthTable %}
true  && true   #=> true
false && false  #=> false
true  && false  #=> false

true  || true   #=> true
false || false  #=> false
true  || false  #=> true
{% endcapture %}

{% capture finishedLoop %}
10.times do
  # code
end
# will execute the code 10 times

# you can also pass an argument to the times function:
10.times do |n|
  puts "#{n} - I am repeating myself"
end
# will ouputs:
# 1 - I am repeating myself
# 2 - I am repeating myself
# 3 - I am repeating myself
# etc...
{% endcapture %}

{% capture whileLoop %}
while condition
  # code
end
# will stop the loop only when the condition is FALSE
{% endcapture %}

{% capture untilLoop %}
until condition
  # code
end
# will stop the loop only when the condition is TRUE
{% endcapture %}

{% capture forLoop %}
for num in [1, 2, 3]
  puts num
end
# will outputs:
# 1
# 2
# 3
{% endcapture %}

{% capture eachFunction %}
[1, 2, 3].each do |num|
  puts num
end
{% endcapture %}

{% capture exitLoop %}
def my_loop
  (1..100).to_a.shuffle.each do |num| # will iterate over numbers from 1 to 100 in a random order
    next if num.odd? # will skip iteration if current number is odd
    break if num > 50 # will break from the loop if current number is higher than 50
    return num if num == 98 # will stop the loop and exist the method returning current number if its 98
  end
end
{% endcapture %}

{% capture each %}
[1, 2, 3].each do |num|
  puts num
end
# will outputs:
# 1
# 2
# 3
{% endcapture %}

{% capture each_with_index %}
['hello', 'bonjour', 'hola'].each_with_index do |word, i|
  puts "#{i}- #{word}"
end
# will outputs:
# 0- hello
# 1- bonjour
# 2- hola
{% endcapture %}

{% capture map %}
new_arr = [1, 2, 3].map do |num|
  num * 10
end

p new_arr # will outputs [10, 20 30]
{% endcapture %}

{% capture join %}
[1, 2, 3].join # will outputs "123"
[1, 2, 3].join(' ') # will outputs "1 2 3"
[1, 2, 3].join('-') # will outputs "1-2-3"
{% endcapture %}