{% capture freezeConstant %}
# If we freeze an Array:
NUMBERS = [1, 2, 3, 4].freeze

# And then try to add a new value to this Array
NUMBERS << 5

# We will outputs: FrozenError: can't modify frozen Array
{% endcapture %}

{% capture method %}
def add_five(number)
  number + 5
end
{% endcapture %}

{% capture dangerousMethods %}
name = 'renodor'
name.capitalize # outputs 'Renodor', but name's value is still 'renodor':
puts name # outputs 'renodor'

# whereas:
name.capitalize! # outputs 'Renodor', and name's value is now 'Renodor':
puts name # outputs 'Renodor'
{% endcapture %}

{% capture methodWithoutParenthesis %}
def add_five number
  number + 5
end
{% endcapture %}

{% capture methodWithMultipleParameters %}
def add_values(a, b)
  a + b
end
{% endcapture %}

{% capture methodWithDefaultParameters %}
def add_values(a = 1, b = 2, c)
  a + b + c
end
{% endcapture %}

{% capture ifConditions %}
if condition
  # code to execute
end

if condition
  # code to execute
else
  # code to execute
end

if condition
  # code to execute
elsif other_condition
  # code to execute
else
  # code to execute
end

# Simpler form for one line statements:
code to execute if condition
{% endcapture %}

{% capture UnlessConditions %}
unless condition
 # code to execute
end

# Simpler form for one line statements:
code to execute unless condition
# (This is the same as: code to execute if !condition)
{% endcapture %}

{% capture caseStatement %}
age = 50
case age
  when 0
    p "you're not born yet little man"
  when 10
    p "time to have fun"
  when 18
    p "time to have more fun"
  when 30
    p "time to have fun again"
  when 50
    p "yep, still fun"
  when 100
    p "probably a lot of fun too"
  else
    p "it's not worth it"
end
{% endcapture %}

{% capture ternary %}
condition ? 'I will be executed if its true' : 'I will be executed if its false'
{% endcapture %}

{% capture andStatement %}
if condition && other_condition
  # will be executed if BOTH conditions are true
end
{% endcapture %}

{% capture orStatement %}
if condition || other_condition
  # will be executed if AT LEAST one of the two conditions is true
end
{% endcapture %}

{% capture truthTable %}
true  && true   #=> true
false && false  #=> false
true  && false  #=> false

true  || true   #=> true
false || false  #=> false
true  || false  #=> true
{% endcapture %}


