<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Renodor Cheatsheet - {{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    <div class="app">
      {% include navbar.html %}
      <div class="section">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
